<!--Top menu-->
<header class="row row-menu">
    <div class="before-menu">
        <a href="/" class="before-menu__item"><span style="color: #36aeea">dive</span>club</a>
    </div>
    <nav class="top-menu">
        <a href="#" class="top-menu__item">О нас&nbsp;</a>
        <a href="#" class="top-menu__item">Фотогалерея&nbsp;</a>
        <a href="#" class="top-menu__item">Блог&nbsp;</a>
        <a href="#" class="top-menu__item">План тренировок&nbsp;</a>
        <a href="#" class="top-menu__item">Календарь событий&nbsp;</a>
    </nav>
    <div class="after-menu">
        <a class="after-menu__item" href="#">укр</a>
        <a class="after-menu__item" href="#">рус</a>
    </div>
</header>
