<!--Top menu-->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid top-menu top-menu_background-main">
        <div class="navbar-header">
            <a href="#" class="navbar-brand top-menu__item" ><span class="text-color_main">Dive</span>club</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="top-menu__item" href="#">О нас</a>
                </li>
                <li>
                    <a class="top-menu__item" href="#">Фотогалерея</a>
                </li>
                <li>
                    <a class="top-menu__item" href="#">Блог</a>
                </li>
                <li>
                    <a class="top-menu__item" href="#">План тренировок</a>
                </li>
                <li>
                    <a class="top-menu__item" href="#">Календарь событий</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="top-menu__item" href="#">укр</a>
                </li>
                <li>
                    <a class="top-menu__item" href="#">рус</a>
                </li>

            </ul>
        </div>

    </div>
</nav>