/******************************************************/
/* GENERAL */
/******************************************************/

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
}

.header-bg {
    background: url('../images/header_bg.png') no-repeat center;
    background-size: cover;
    margin-bottom: 0;
}

.section-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    color: #2c2e37;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    color: white;
    background: #36aeea;
    text-decoration: none;
    display: inline-block;
    border-radius: 4.5px;
    letter-spacing: 2px;
}

.button:hover {
    background: #5475d0;
}

.button-normal {
    font-size: 15px;
    padding: 15px 6px;
}

.button-large {
    font-size: 18px;
    box-shadow: 0 0 35px 0 rgba(3, 3, 3, 0.06);
    padding: 20px 16px;
}

.text-color_main{
    color: #3AB0E7;
}
.text-color_white{
    color: white;
}
/*.text-color_main:hover{*/
    /*color: #349ac9;*/
/*}*/
/******************************************************/
/* TOP MENU */
/******************************************************/

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;

}
.top-menu_background-main {
    background: rgba(203, 203, 203, 0.7)
}
.top-menu_background-dark {
    background: rgba(0, 0, 0, 0.7)
}

.top-menu__item {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.row-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    min-height: 610px;
}

.welcome {
    color: white;
    display: flex;
    background: rgba(71,96,136,0.35);

}

.bordered {
    border: 3px solid white;
}

.welcome__article {
    align-self: center;
    /*flex-basis: 60%;*/
    margin: 60px 20px 20px 90px;
}

.welcome__diver {
    background: url('../images/header_diver.png') no-repeat center;
    background-size: contain;
    /*flex-basis: 40%;*/
    margin-right: 60px;
}

.welcome__article-title,
.welcome__article-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
}

.welcome__article-title {
    font-size: 60px;
    letter-spacing: 8px;
}

.welcome__article-subtitle {
    /*font-size: 24px;*/
    letter-spacing: 2px;
}

.welcome__article-text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.welcome__article-button {
    margin-top: 20px;
}

/******************************************************/
/* ABOUT US */
/******************************************************/

.about-bg {
    background: #f6f4f4;
}

.about-box {
    min-height: 670px;
    background: url('../images/about_bg.png') no-repeat;
    background-position: 144px 74px;
    position: relative;
}

.about__article {
    overflow: hidden;
    max-width: 405px;
    float: left;
    position: relative;
    top: 255px;
    margin-right: 50px;
}

.about__article-description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #919191;
}

.about__article-button {
    margin-top: 25px;
}

.about__photos {
    float: left;
    position: relative;
}


.about__photos-img {
    position: absolute;
}

.about__photos-img_0 {
    top: -30px;
    left: 90px;
}

.about__photos-img_1 {
    top: 280px;
}

/******************************************************/
/* PHOTO GALLERY */
/******************************************************/

.photo-gallery-bg {
    background: #ffffff;
}

.photo-gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 800px;
}

.photo-gallery__title {
    padding-top: 90px;
    margin: auto;
}

.photo-gallery__photos {
    margin-top: 85px;
}

.photo-gallery__button {
    margin-top: 80px;
    margin-bottom: 80px;
}
